* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}

body {
    height: 100%;
}

#current-page {
    height: 100%;
    width: 100%;
}

.button {
    user-select: none;
    cursor: pointer;
    transition-property: color;
    transition-duration: 250ms;
}
