:root {
    --card-bg-dark: #333333;
    --card-bg-light: #999999;
    --text-light: #cccccc;
    --btn-bg-dark: #222222;
    --blue: #3498eb;
}

.button {
    user-select: none;
    cursor: pointer;
    transition-property: color;
    transition-duration: 250ms;
}

.background {
    background-image: url("assets/images/hexapod-img.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-ui {
    background-color: var(--card-bg-dark);
}

.container-ui .button {
    background-color: var(--btn-bg-dark);
    color: var(--text-light);
}

.card {
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
    overflow: hidden;
}

/*desktop or a big mobile screen*/
@media only screen and (min-width: 800px) {
    .container-ui {
        height: 70%;
        width: 800px;
        padding: 14px;
    }

    .container-ui .button:hover {
        color: var(--blue);
    }

    .container-ui > * {
        float: left;
    }

    .left-column {
        height: 100%;
        width: 35%;
        padding-right: 7px;
    }

    .moves-card {
        height: 100%;
        width: 100%;
        background-color: var(--card-bg-light);
    }

    .right-column {
        height: 100%;
        width: 65%;
    }

    .cam-card-container {
        height: 50%;
        width: 100%;
        padding-left: 7px;
        padding-bottom: 7px;
    }

    .control-card-container {
        height: 50%;
        width: 100%;
        padding-left: 7px;
        padding-top: 7px;
    }

    .cam-card {
        height: 100%;
        width: 100%;
        background-color: var(--card-bg-light);
    }

    .control-card {
        height: 100%;
        width: 100%;
        background-color: var(--card-bg-light);
    }

    .top-bar {
        width: 100%;
        height: 8%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--btn-bg-dark);
    }

    .top-bar > * {
        float: left;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--btn-bg-dark);
    }

    .btn-clear-moves {
        width: 30%;
    }

    .moves-display {
        width: 100%;
        height: 45%;
        background-color: var(--card-bg-light);
        box-shadow: inset 0px 0px 10px var(--card-bg-dark);
    }

    .moves-keyboard {
        height: 47%;
        width: 100%;
        background-color: var(--card-bg-dark);
    }

    .moves-keyboard .moves-table {
        height: 50%;
        width: 100%;
        padding: 7px;
        box-shadow: inset 0px 0px 20px var(--btn-bg-dark);
        overflow: auto;
        position: relative;
    }

    .moves-table .move-container {
        float: left;
        width: 33.33%;
        padding: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .move {
        width: 100%;
        height: 50px;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        background-color: var(--btn-bg-dark);
        border-radius: 10px;
        position: relative;
        transition-property: position, box-shadow, background-color;
        transition-duration: 500ms;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;

        cursor: pointer;
    }

    .move:hover {
        box-shadow: 5px 5px 5px yellow;
        top: -5px;
        left: -5px;
    }

    .tooltip-text {
        position: absolute;
        visibility: hidden;
        background-color: var(--card-bg-light);
        z-index: 1;
        top: 105%;
        font-size: 12px;
        border-radius: 5px;
        text-align: center;
        padding: 2px;
        user-select: none;
    }

    .move:hover .tooltip-text {
        animation-name: show-tooltip;
        animation-duration: 250ms;
        animation-delay: 1.5s;
        animation-fill-mode: forwards;
    }

    @keyframes show-tooltip {
        from {
            visibility: hidden;
        }
        to {
            visibility: visible;
        }
    }

    .move:active {
        box-shadow: none;
        top: 0px;
        left: 0px;
        background-color: var(--text-light);
    }

    #add-move-btn {
        background-image: url("assets/icons/add_move.svg");
    }

    .desc-bar-container {
        position: fixed;
        z-index: 1000;
        overflow: hidden;
        display: none;

        background-color: var(--card-bg-light);
        transition-property: height;
        transition-duration: 500ms;
        width: 238.2px;
        border-radius: 5px;
        padding: 5px;
    }

    .cancel-add-custom {
        width: 10%;
        height: 2.5ch;
        background-image: url("assets/icons/remove.svg");
        background-position: center;
        background-repeat: no-repeat;
        /* background-size: 50%; */
        background-color: var(--btn-bg-dark);
    }

    .desc-bar-container > * {
        float: left;
    }

    #desc-field {
        width: 70%;
        height: 2.5ch;
    }

    .btn-create-desc {
        width: 20%;
        height: 2.5ch;
        text-align: center;
    }

    .moves-keyboard .btns-container {
        height: 50%;
        width: 100%;
    }

    .moves-keyboard .btns-container > * {
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .moves-display {
        display: flex;

        flex-direction: column;
        flex-wrap: unset;
        align-items: center;
        overflow: auto;
        background-color: #555555;
    }

    .displayed-move-container {
        width: 80%;
        padding: 3px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .displayed-move {
        width: 33.33%;
        height: 50px;
        background-color: var(--btn-bg-dark);
        border-radius: 10px;
        transition-property: background-color;
        transition-duration: 250ms;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        cursor: pointer;
    }

    .option {
        width: 33.33%;
        background-color: var(--card-bg-light);
        height: 50px;
        border-radius: 10px;
        cursor: pointer;
        display: none;
    }

    .remove-move-option {
        background-image: url("assets/icons/remove.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
    }

    .options-keyboard-move-container {
        position: absolute;
        top: 105%;
        z-index: 2;
        visibility: hidden;
        border-radius: 10px;
        width: 100%;
    }

    .options-keyboard-move-container > * {
        float: left;
        background-color: var(--card-bg-light);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 50%;
        height: 30px;
        width: 50%;
    }

    .remove-keyboard-move {
        background-image: url("assets/icons/delete_move.svg");
    }

    .cancel-remove-keyboard-move {
        background-image: url("assets/icons/remove.svg");
    }
}

/*I'm having the issue that the displayed moves are overflowing their container, even though some of them 
are still inside the container and are visible through scrolling down. 
Solution: 

What was causing the problem is that the container was set to with the flex 
property justify-content: center, which was causing the items inside the 
container to overflow to the top in order for the container to have its
flex items centralized inside him. So, if i had 9 elements, and 4 of them 
where to overflow to the bottom of the container, they would instead overflow
2 to the bottom (those which i could access using the scrollbar) and 2 to the 
top, where they would be hidden.

*/
